@media(min-width: 768px) {
  .styleguide-grid {
    display: grid;
    grid-template-columns: 1fr 3fr .25fr;
  }
}
@media(min-width: 1000px) {
  .styleguide-grid {
    grid-template-columns: 1fr 3fr .5fr;
  }
}
@media(min-width: 1600px) {
  .styleguide-grid {
    grid-template-columns: .5fr 3fr .5fr;
  }
}