.type-spacing-xs-top {
  margin-top: 3.5px; }

.type-spacing-xs-bottom {
  margin-bottom: 3.5px; }

.type-spacing-sm-top {
  margin-top: 7px; }

.type-spacing-sm-bottom {
  margin-bottom: 7px; }

.type-spacing-top {
  margin-top: 14px; }

.type-spacing-bottom {
  margin-bottom: 14px; }

.type-spacing-lg-top {
  margin-top: 28px; }

.type-spacing-lg-bottom {
  margin-bottom: 28px; }

.type-spacing-xl-top {
  margin-top: 56px; }

.type-spacing-xl-bottom {
  margin-bottom: 56px; }

.type-spacing-clear-top, .copy.type-spacing-clear-top {
  margin-top: 0; }

.type-spacing-clear-bottom, .copy.type-spacing-clear-bottom {
  margin-bottom: 0; }

body {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  background: white; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: brandon-grotesque,Arial,Helvetica,sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0; }

h1, .h1 {
  font-size: 39.063px;
  font-weight: 900; }

h2, .h2 {
  font-size: 31.25px; }

h3, .h3 {
  font-size: 25px; }

h4, .h4 {
  font-size: 20px;
  letter-spacing: .02em; }

h5, .h5 {
  font-size: 16px;
  letter-spacing: .05em; }

h6, .h6 {
  font-size: 12.8px;
  font-weight: 900;
  letter-spacing: .07em;
  line-height: 1.3; }

h1.uppercase, .h1.uppercase,
h2.uppercase, .h2.uppercase,
h3.uppercase, .h3.uppercase,
h4.uppercase, .h4.uppercase,
h5.uppercase, .h5.uppercase,
h6.uppercase, .h6.uppercase {
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.3; }

h1.uppercase, .h1.uppercase {
  font-size: 39.063px;
  font-weight: 900; }

h2.uppercase, .h2.uppercase {
  font-size: 31.25px; }

h3.uppercase, .h3.uppercase {
  font-size: 25px;
  letter-spacing: .08em; }

h4.uppercase, .h4.uppercase {
  font-size: 20px;
  letter-spacing: .08em;
  line-height: 1.45; }

h5.uppercase, .h5.uppercase {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: .13em;
  line-height: 1.6; }

h6.uppercase, .h6.uppercase {
  font-size: 12.8px;
  font-weight: 900;
  letter-spacing: .14em;
  line-height: 1.7; }

p {
  margin-bottom: 14px; }

p.small {
  font-size: 12.8px;
  letter-spacing: .03em;
  line-height: 1.7; }

ul {
  margin-bottom: 14px;
  padding-left: 2em; }

hr {
  margin-top: 14px;
  margin-bottom: 14px; }

img {
  max-width: 100%;
  height: auto; }

h1.copy, .h1.copy,
h2.copy, .h2.copy,
h3.copy, .h3.copy,
h4.copy, .h4.copy,
h5.copy, .h5.copy,
h6.copy, .h6.copy {
  margin-top: 28px;
  margin-bottom: 14px; }

h1 + h1.copy, h1 + .h1.copy,
h1 + h2.copy, h1 + .h2.copy,
h1 + h3.copy, h1 + .h3.copy,
h1 + h4.copy, h1 + .h4.copy,
h1 + h5.copy, h1 + .h5.copy,
h1 + h6.copy, h1 + .h6.copy, .h1 + h1.copy, .h1 + .h1.copy,
.h1 + h2.copy, .h1 + .h2.copy,
.h1 + h3.copy, .h1 + .h3.copy,
.h1 + h4.copy, .h1 + .h4.copy,
.h1 + h5.copy, .h1 + .h5.copy,
.h1 + h6.copy, .h1 + .h6.copy,
h2 + h1.copy,
h2 + .h1.copy,
h2 + h2.copy,
h2 + .h2.copy,
h2 + h3.copy,
h2 + .h3.copy,
h2 + h4.copy,
h2 + .h4.copy,
h2 + h5.copy,
h2 + .h5.copy,
h2 + h6.copy,
h2 + .h6.copy, .h2 + h1.copy, .h2 + .h1.copy,
.h2 + h2.copy, .h2 + .h2.copy,
.h2 + h3.copy, .h2 + .h3.copy,
.h2 + h4.copy, .h2 + .h4.copy,
.h2 + h5.copy, .h2 + .h5.copy,
.h2 + h6.copy, .h2 + .h6.copy,
h3 + h1.copy,
h3 + .h1.copy,
h3 + h2.copy,
h3 + .h2.copy,
h3 + h3.copy,
h3 + .h3.copy,
h3 + h4.copy,
h3 + .h4.copy,
h3 + h5.copy,
h3 + .h5.copy,
h3 + h6.copy,
h3 + .h6.copy, .h3 + h1.copy, .h3 + .h1.copy,
.h3 + h2.copy, .h3 + .h2.copy,
.h3 + h3.copy, .h3 + .h3.copy,
.h3 + h4.copy, .h3 + .h4.copy,
.h3 + h5.copy, .h3 + .h5.copy,
.h3 + h6.copy, .h3 + .h6.copy,
h4 + h1.copy,
h4 + .h1.copy,
h4 + h2.copy,
h4 + .h2.copy,
h4 + h3.copy,
h4 + .h3.copy,
h4 + h4.copy,
h4 + .h4.copy,
h4 + h5.copy,
h4 + .h5.copy,
h4 + h6.copy,
h4 + .h6.copy, .h4 + h1.copy, .h4 + .h1.copy,
.h4 + h2.copy, .h4 + .h2.copy,
.h4 + h3.copy, .h4 + .h3.copy,
.h4 + h4.copy, .h4 + .h4.copy,
.h4 + h5.copy, .h4 + .h5.copy,
.h4 + h6.copy, .h4 + .h6.copy,
h5 + h1.copy,
h5 + .h1.copy,
h5 + h2.copy,
h5 + .h2.copy,
h5 + h3.copy,
h5 + .h3.copy,
h5 + h4.copy,
h5 + .h4.copy,
h5 + h5.copy,
h5 + .h5.copy,
h5 + h6.copy,
h5 + .h6.copy, .h5 + h1.copy, .h5 + .h1.copy,
.h5 + h2.copy, .h5 + .h2.copy,
.h5 + h3.copy, .h5 + .h3.copy,
.h5 + h4.copy, .h5 + .h4.copy,
.h5 + h5.copy, .h5 + .h5.copy,
.h5 + h6.copy, .h5 + .h6.copy,
h6 + h1.copy,
h6 + .h1.copy,
h6 + h2.copy,
h6 + .h2.copy,
h6 + h3.copy,
h6 + .h3.copy,
h6 + h4.copy,
h6 + .h4.copy,
h6 + h5.copy,
h6 + .h5.copy,
h6 + h6.copy,
h6 + .h6.copy, .h6 + h1.copy, .h6 + .h1.copy,
.h6 + h2.copy, .h6 + .h2.copy,
.h6 + h3.copy, .h6 + .h3.copy,
.h6 + h4.copy, .h6 + .h4.copy,
.h6 + h5.copy, .h6 + .h5.copy,
.h6 + h6.copy, .h6 + .h6.copy {
  margin-top: 0; }

h4.copy, .h4.copy,
h5.copy, .h5.copy,
h6.copy, .h6.copy {
  color: #404042; }

img.copy {
  display: block;
  margin-top: 28px;
  margin-bottom: 28px; }

img.text-center {
  margin-left: auto;
  margin-right: auto; }

.container {
  background: #fff; }

.bg-placeholder {
  background-color: #e6e6e6;
  background-image: linear-gradient(rgba(230, 230, 230, 0.9), rgba(230, 230, 230, 0.9)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-378/placeholder-no-bg.svg);
  background-position: center center !important;
  background-repeat: no-repeat; }

.container-bg-image {
  background-size: cover;
  background-position: left top; }
  @media (min-width: 768px) {
    .container-bg-image {
      background-position: center top; } }

.container.container-buffer {
  padding-top: 28px !important;
  padding-bottom: 28px !important; }
  @media (min-width: 768px) {
    .container.container-buffer {
      padding-top: 56px !important;
      padding-bottom: 56px !important; } }

.container.container-buffer + .container.container-buffer {
  margin-top: -28px; }
  @media (min-width: 768px) {
    .container.container-buffer + .container.container-buffer {
      margin-top: -56px; } }

.container.container-buffer.container-bg + .container.container-buffer,
.container.container-buffer + .container.container-buffer.container-bg {
  margin-top: 0; }

.styleguide-label {
  position: absolute;
  opacity: .2;
  left: 0;
  -webkit-transform: rotate(-90deg) translate(-100%, 0%);
  -moz-transform: rotate(-90deg) translate(-100%, 0%);
  -ms-transform: rotate(-90deg) translate(-100%, 0%);
  -o-transform: rotate(-90deg) translate(-100%, 0%);
  transform: rotate(-90deg) translate(-100%, 0%);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }
