body {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  background: white; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: brandon-grotesque,Arial,Helvetica,sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0; }

h1, .h1 {
  font-size: 39.063px;
  font-weight: 900; }

h2, .h2 {
  font-size: 31.25px; }

h3, .h3 {
  font-size: 25px; }

h4, .h4 {
  font-size: 20px;
  letter-spacing: .02em; }

h5, .h5 {
  font-size: 16px;
  letter-spacing: .05em; }

h6, .h6 {
  font-size: 12.8px;
  font-weight: 900;
  letter-spacing: .07em;
  line-height: 1.3; }

h1.uppercase, .h1.uppercase,
h2.uppercase, .h2.uppercase,
h3.uppercase, .h3.uppercase,
h4.uppercase, .h4.uppercase,
h5.uppercase, .h5.uppercase,
h6.uppercase, .h6.uppercase {
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.3; }

h1.uppercase, .h1.uppercase {
  font-size: 39.063px;
  font-weight: 900; }

h2.uppercase, .h2.uppercase {
  font-size: 31.25px; }

h3.uppercase, .h3.uppercase {
  font-size: 25px;
  letter-spacing: .08em; }

h4.uppercase, .h4.uppercase {
  font-size: 20px;
  letter-spacing: .08em;
  line-height: 1.45; }

h5.uppercase, .h5.uppercase {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: .13em;
  line-height: 1.6; }

h6.uppercase, .h6.uppercase {
  font-size: 12.8px;
  font-weight: 900;
  letter-spacing: .14em;
  line-height: 1.7; }

p {
  margin-bottom: 16px; }

p.small {
  font-size: 12.8px;
  letter-spacing: .03em;
  line-height: 1.7; }

ul {
  margin-bottom: 16px;
  padding-left: 2em; }

hr {
  margin-top: 16px;
  margin-bottom: 16px; }

img {
  max-width: 100%;
  height: auto; }

h1.copy, .h1.copy,
h2.copy, .h2.copy,
h3.copy, .h3.copy,
h4.copy, .h4.copy,
h5.copy, .h5.copy,
h6.copy, .h6.copy {
  margin-top: 32px;
  margin-bottom: 16px; }

h1 + h1.copy, h1 + .h1.copy,
h1 + h2.copy, h1 + .h2.copy,
h1 + h3.copy, h1 + .h3.copy,
h1 + h4.copy, h1 + .h4.copy,
h1 + h5.copy, h1 + .h5.copy,
h1 + h6.copy, h1 + .h6.copy, .h1 + h1.copy, .h1 + .h1.copy,
.h1 + h2.copy, .h1 + .h2.copy,
.h1 + h3.copy, .h1 + .h3.copy,
.h1 + h4.copy, .h1 + .h4.copy,
.h1 + h5.copy, .h1 + .h5.copy,
.h1 + h6.copy, .h1 + .h6.copy,
h2 + h1.copy,
h2 + .h1.copy,
h2 + h2.copy,
h2 + .h2.copy,
h2 + h3.copy,
h2 + .h3.copy,
h2 + h4.copy,
h2 + .h4.copy,
h2 + h5.copy,
h2 + .h5.copy,
h2 + h6.copy,
h2 + .h6.copy, .h2 + h1.copy, .h2 + .h1.copy,
.h2 + h2.copy, .h2 + .h2.copy,
.h2 + h3.copy, .h2 + .h3.copy,
.h2 + h4.copy, .h2 + .h4.copy,
.h2 + h5.copy, .h2 + .h5.copy,
.h2 + h6.copy, .h2 + .h6.copy,
h3 + h1.copy,
h3 + .h1.copy,
h3 + h2.copy,
h3 + .h2.copy,
h3 + h3.copy,
h3 + .h3.copy,
h3 + h4.copy,
h3 + .h4.copy,
h3 + h5.copy,
h3 + .h5.copy,
h3 + h6.copy,
h3 + .h6.copy, .h3 + h1.copy, .h3 + .h1.copy,
.h3 + h2.copy, .h3 + .h2.copy,
.h3 + h3.copy, .h3 + .h3.copy,
.h3 + h4.copy, .h3 + .h4.copy,
.h3 + h5.copy, .h3 + .h5.copy,
.h3 + h6.copy, .h3 + .h6.copy,
h4 + h1.copy,
h4 + .h1.copy,
h4 + h2.copy,
h4 + .h2.copy,
h4 + h3.copy,
h4 + .h3.copy,
h4 + h4.copy,
h4 + .h4.copy,
h4 + h5.copy,
h4 + .h5.copy,
h4 + h6.copy,
h4 + .h6.copy, .h4 + h1.copy, .h4 + .h1.copy,
.h4 + h2.copy, .h4 + .h2.copy,
.h4 + h3.copy, .h4 + .h3.copy,
.h4 + h4.copy, .h4 + .h4.copy,
.h4 + h5.copy, .h4 + .h5.copy,
.h4 + h6.copy, .h4 + .h6.copy,
h5 + h1.copy,
h5 + .h1.copy,
h5 + h2.copy,
h5 + .h2.copy,
h5 + h3.copy,
h5 + .h3.copy,
h5 + h4.copy,
h5 + .h4.copy,
h5 + h5.copy,
h5 + .h5.copy,
h5 + h6.copy,
h5 + .h6.copy, .h5 + h1.copy, .h5 + .h1.copy,
.h5 + h2.copy, .h5 + .h2.copy,
.h5 + h3.copy, .h5 + .h3.copy,
.h5 + h4.copy, .h5 + .h4.copy,
.h5 + h5.copy, .h5 + .h5.copy,
.h5 + h6.copy, .h5 + .h6.copy,
h6 + h1.copy,
h6 + .h1.copy,
h6 + h2.copy,
h6 + .h2.copy,
h6 + h3.copy,
h6 + .h3.copy,
h6 + h4.copy,
h6 + .h4.copy,
h6 + h5.copy,
h6 + .h5.copy,
h6 + h6.copy,
h6 + .h6.copy, .h6 + h1.copy, .h6 + .h1.copy,
.h6 + h2.copy, .h6 + .h2.copy,
.h6 + h3.copy, .h6 + .h3.copy,
.h6 + h4.copy, .h6 + .h4.copy,
.h6 + h5.copy, .h6 + .h5.copy,
.h6 + h6.copy, .h6 + .h6.copy {
  margin-top: 0; }

h4.copy, .h4.copy,
h5.copy, .h5.copy,
h6.copy, .h6.copy {
  color: #404042; }

img.copy {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px; }

img.text-center {
  margin-left: auto;
  margin-right: auto; }

.container {
  background: #fff; }

.bg-placeholder {
  background-color: #e6e6e6;
  background-image: linear-gradient(rgba(230, 230, 230, 0.9), rgba(230, 230, 230, 0.9)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-378/placeholder-no-bg.svg);
  background-position: center center !important;
  background-repeat: no-repeat; }

.container-bg-image {
  background-size: cover;
  background-position: left top; }
  @media (min-width: 768px) {
    .container-bg-image {
      background-position: center top; } }

.container.container-buffer {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }
  @media (min-width: 768px) {
    .container.container-buffer {
      padding-top: 64px !important;
      padding-bottom: 64px !important; } }

.container.container-buffer + .container.container-buffer {
  margin-top: -32px; }
  @media (min-width: 768px) {
    .container.container-buffer + .container.container-buffer {
      margin-top: -64px; } }

.container.container-buffer.container-bg + .container.container-buffer,
.container.container-buffer + .container.container-buffer.container-bg {
  margin-top: 0; }

.vspace-xs-top-xs {
  margin-top: 4px; }

.vspace-xs-top-sm {
  margin-top: 8px; }

.vspace-xs-top-md {
  margin-top: 16px; }

.vspace-xs-top-lg {
  margin-top: 32px; }

.vspace-xs-top-xl {
  margin-top: 64px; }

.vspace-xs-top-clear {
  margin-top: 0; }

.copy.vspace-xs-top-clear {
  margin-top: 0; }

.vspace-xs-btm-xs {
  margin-bottom: 4px; }

.vspace-xs-btm-sm {
  margin-bottom: 8px; }

.vspace-xs-btm-md {
  margin-bottom: 16px; }

.vspace-xs-btm-lg {
  margin-bottom: 32px; }

.vspace-xs-btm-xl {
  margin-bottom: 64px; }

.vspace-xs-btm-clear {
  margin-bottom: 0; }

.copy.vspace-xs-btm-clear {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .vspace-sm-top-xs {
    margin-top: 4px; }
  .vspace-sm-top-sm {
    margin-top: 8px; }
  .vspace-sm-top-md {
    margin-top: 16px; }
  .vspace-sm-top-lg {
    margin-top: 32px; }
  .vspace-sm-top-xl {
    margin-top: 64px; }
  .vspace-sm-top-clear {
    margin-top: 0; }
  .copy.vspace-sm-top-clear {
    margin-top: 0; }
  .vspace-sm-btm-xs {
    margin-bottom: 4px; }
  .vspace-sm-btm-sm {
    margin-bottom: 8px; }
  .vspace-sm-btm-md {
    margin-bottom: 16px; }
  .vspace-sm-btm-lg {
    margin-bottom: 32px; }
  .vspace-sm-btm-xl {
    margin-bottom: 64px; }
  .vspace-sm-btm-clear {
    margin-bottom: 0; }
  .copy.vspace-sm-btm-clear {
    margin-bottom: 0; } }

@media (min-width: 992px) {
  .vspace-md-top-xs {
    margin-top: 4px; }
  .vspace-md-top-sm {
    margin-top: 8px; }
  .vspace-md-top-md {
    margin-top: 16px; }
  .vspace-md-top-lg {
    margin-top: 32px; }
  .vspace-md-top-xl {
    margin-top: 64px; }
  .vspace-md-top-clear {
    margin-top: 0; }
  .copy.vspace-md-top-clear {
    margin-top: 0; }
  .vspace-md-btm-xs {
    margin-bottom: 4px; }
  .vspace-md-btm-sm {
    margin-bottom: 8px; }
  .vspace-md-btm-md {
    margin-bottom: 16px; }
  .vspace-md-btm-lg {
    margin-bottom: 32px; }
  .vspace-md-btm-xl {
    margin-bottom: 64px; }
  .vspace-md-btm-clear {
    margin-bottom: 0; }
  .copy.vspace-md-btm-clear {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .vspace-lg-top-xs {
    margin-top: 4px; }
  .vspace-lg-top-sm {
    margin-top: 8px; }
  .vspace-lg-top-md {
    margin-top: 16px; }
  .vspace-lg-top-lg {
    margin-top: 32px; }
  .vspace-lg-top-xl {
    margin-top: 64px; }
  .vspace-lg-top-clear {
    margin-top: 0; }
  .copy.vspace-lg-top-clear {
    margin-top: 0; }
  .vspace-lg-btm-xs {
    margin-bottom: 4px; }
  .vspace-lg-btm-sm {
    margin-bottom: 8px; }
  .vspace-lg-btm-md {
    margin-bottom: 16px; }
  .vspace-lg-btm-lg {
    margin-bottom: 32px; }
  .vspace-lg-btm-xl {
    margin-bottom: 64px; }
  .vspace-lg-btm-clear {
    margin-bottom: 0; }
  .copy.vspace-lg-btm-clear {
    margin-bottom: 0; } }

.styleguide-label {
  opacity: .2; }
  @media (min-width: 768px) {
    .styleguide-label {
      position: absolute;
      left: 0;
      -webkit-transform: rotate(-90deg) translate(-100%, 0%);
      -moz-transform: rotate(-90deg) translate(-100%, 0%);
      -ms-transform: rotate(-90deg) translate(-100%, 0%);
      -o-transform: rotate(-90deg) translate(-100%, 0%);
      transform: rotate(-90deg) translate(-100%, 0%);
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top; } }

.color-swatches {
  list-style-type: none;
  padding-left: 0; }
  .color-swatches li {
    width: 128px;
    height: 128px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .color-swatches li div {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 4px 0;
      position: absolute;
      bottom: 0;
      width: 100%; }
    .color-swatches li:after {
      content: "Copy to Clipboard";
      position: absolute;
      top: 50%;
      margin: auto;
      background: white;
      border-radius: 3px;
      font-size: 12.8px;
      line-height: 1.3;
      display: inline-block;
      padding: 8px 16px;
      box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.2), 0 16px 16px -2px rgba(0, 0, 0, 0.2);
      opacity: .1;
      -webkit-transform: translate(-50%, 100%);
      -moz-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
      -o-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .color-swatches li:hover:after {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .color-swatches li:active {
      opacity: .5; }

.bg-brand-teal {
  background-color: #03bbac; }

.bg-brand-teal-darker {
  background-color: #039aa8; }

.bg-brand-teal-lighter {
  background-color: #03e6ca; }

.bg-brand-red {
  background-color: #d74c4e; }

.bg-brand-black {
  background-color: #000000; }

.bg-brand-gray-darker {
  background-color: #404042; }

.bg-brand-gray-dark {
  background-color: #888888; }

.bg-brand-gray {
  background-color: #cccccc; }

.bg-brand-gray-light {
  background-color: #e6e6e6; }

.bg-brand-gray-lighter {
  background-color: #f3f3f3; }

.bg-brand-white {
  background-color: #ffffff; }

.clr-brand-uppercase {
  line-height: 1.32; }
