// -----------------------------------------------------------------------------
// Accordion
// -----------------------------------------------------------------------------
$btn-size: 24px;
$btn-offset: 5px;

.panel-theme-accordion {
  padding: 4px 0;
  box-shadow: none;

  .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    a.collapsed {
      color: $link-color;
    }
  }  

  .panel-title {
    position: relative;
    padding-left: 40px;
  }

  .panel-body {
    border: none !important;
    position: relative;
    padding-top: 16px;
    padding-bottom: 1px; // need some padding to prevent margin collapse
    padding-left: 40px;

    &:before {
      content:"";
      width: 2px;
      height: calc(100% + 6px);
      display: block;
      position: absolute;
      left: $btn-size / 2;
      bottom: 0;
      background-color: $gray-light;
      transform: translate(-50%,0);
    }

    &:after {
      content:"";
      width: $btn-size/2;
      height: 2px;
      position: absolute;
      left: $btn-size/4;
      bottom: 0;
      background-color: $gray-light;
    }

    ul {
      padding-left: 1em;
    }
  }
}

.plus-icon {
  display: block;
  width: $btn-size;
  height: $btn-size;
  background: $gray-light;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  transform: translate(0%,-50%);
  transition: all .3s ease;

  &:before,&:after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    backface-visibility: hidden;
    transform: translate(-50%,-50%);
    transition: transform .3s ease;
  }

  &:after {
    transform: translate(-50%,-50%) rotate(0deg);
  }

  &:before {
    transform: translate(-50%,-50%) rotate(180deg);
  }
}

.collapsed {
  .plus-icon {
    background-color: transparent;
    cursor: pointer;
    border-radius: 0%;

    &:after {
      transform: translate(-50%,-50%) rotate(-90deg);
    }

    &:before {
      transform: translate(-50%,-50%) rotate(0deg);
    }
  }  
}