// -----------------------------------------------------------------------------
// Alerts
// -----------------------------------------------------------------------------
.alert {
  margin-top: 0.25em;
  border-width: 2px;
  font-weight: 900;
}

.alert-danger,
.popup-danger {
    background-color: white;
    border-color: $brand-danger;
    color: darken($brand-danger, 0%);
}

.alert-info,
.popup-info {
  background-color: white;
  border-color: $brand-info;
  color: darken($brand-info, 20%);
}

.alert-warning,
.popup-warning {
  background-color: white;
  border-color: $brand-warning;
  color: darken($brand-info, 20%);
}

.alert-success,
.popup-success {
  background-color: white;
  border-color: $brand-success;
  color: darken($brand-success, 20%);
}
