.align-vertical {
  @media( min-width:$grid-float-breakpoint ) {
    display: flex;
    align-items: center;    
  }
}

.align-vertical-bottom {
  @media( min-width:$grid-float-breakpoint ) {
    display: flex;
    align-items: flex-end;
  }
}