// -----------------------------------------------------------------------------
// Background Colors
// -----------------------------------------------------------------------------
.bg-black {
    background-color: $gray-base;
    color: white;
}

.bg-gray-darker {
    background-color: $gray-darker;
    color: white;
}

.bg-gray-dark {
    background-color: $gray-dark;
    color: white;
}

.bg-gray {
    background-color: $gray;
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-gray-lighter {
    background-color: $gray-lighter;
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-info {
    background-color: $brand-info !important;
}
.bg-success {
    background-color: $brand-success !important;
    color: white;
}
.bg-transparent {
  background-color: transparent;
}

.bg-texture {
  color: white;
  background-color: $gray-base;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transform-style: preserve-3d; // prevents text flicker in safari
}

.bg-texture-inverted {
  @extend .bg-texture;
  background-color: white;
  color: $gray-base;

  a {
    color: $gray-base;
  }

  a.btn-success {
    color: white;
  }
}

// hide bg texture on sm width
.bg-texture-no-sm {
  @media (max-width: $screen-sm-min)  {
    background-image: none !important;
  }
}
.bg-texture-no-md {
  @media (max-width: $screen-md-min)  {
    background-image: none !important;
  }
}
.bg-texture-no-lg {
  @media (max-width: $screen-lg-min)  {
    background-image: none !important;
  }
}



// -----------------------------------------------------------------------------
// Striped
// -----------------------------------------------------------------------------
.bg-striped {
  background: white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPG9l/btqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5ZUJ7zWQizKAAAAAElFTkSuQmCC') repeat center center;
  background-size: 8px;
}



// -----------------------------------------------------------------------------
// Offset, fractional backgrounds
// only gray lighter support for now
// add more as needed
// -----------------------------------------------------------------------------
.bg-panel {
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-image: linear-gradient(to right, $gray-light 100%, $gray-light 100%);
  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(to right, $gray-light 100%, $gray-light 100%);
  }
  @media (min-width:$screen-sm) {
    background-size: calc(((100% - #{$container-sm})/2) + 10px) 100%;
    &:before {
      width: $container-sm;
    }
  }
  @media (min-width:$screen-md) {
    background-size: calc(((100% - #{$container-md})/2) + 10px) 100%;
    &:before {
      width: $container-md;
    }
  }
  @media (min-width:$screen-lg) {
    background-size: calc(((100% - #{$container-lg})/2) + 10px) 100%;
    &:before {
      width: $container-lg;
    }
  }
}

.bg-panel-gray-darker {
  color: white;
  background-image: linear-gradient(to right, $gray-darker 100%, $gray-darker 100%);
  &:before {
    background-image: linear-gradient(to right, $gray-darker 100%, $gray-darker 100%);
  }
}
.bg-panel-gray-dark {
  color: white;
  background-image: linear-gradient(to right, $gray-dark 100%, $gray-dark 100%);
  &:before {
    background-image: linear-gradient(to right, $gray-dark 100%, $gray-dark 100%);
  }
}
.bg-panel-gray {
  color: black;
  background-image: linear-gradient(to right, $gray 100%, $gray 100%);
  &:before {
    background-image: linear-gradient(to right, $gray 100%, $gray 100%);
  }
}
.bg-panel-gray-light {
  color: black;
  background-image: linear-gradient(to right, $gray-light 100%, $gray-light 100%);
  &:before {
    background-image: linear-gradient(to right, $gray-light 100%, $gray-light 100%);
  }
}
.bg-panel-gray-lighter {
  color: black;
  background-image: linear-gradient(to right, $gray-lighter 100%, $gray-lighter 100%);
  &:before {
    background-image: linear-gradient(to right, $gray-lighter 100%, $gray-lighter 100%);
  }
}
.bg-panel-white {
  color: black;
  background-image: linear-gradient(to right, white 100%, white 100%);
  &:before {
    background-image: linear-gradient(to right, white 100%, white 100%);
  }
}
$col-size: 1/12;
$col-1: $col-size * 1;
$col-2: $col-size * 2;
$col-3: $col-size * 3;
$col-4: $col-size * 4;
$col-5: $col-size * 5;
$col-6: $col-size * 6;
$col-7: $col-size * 7;
$col-8: $col-size * 8;
$col-9: $col-size * 9;
$col-10: $col-size * 10;
$col-11: $col-size * 11;
$col-12: $col-size * 12;

.bg-panel-left-1 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-1}) 100%;
  }
}
.bg-panel-left-2 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-2}) 100%;
  }
}
.bg-panel-left-3 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-3}) 100%;
  }
}
.bg-panel-left-4 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-4}) 100%;
  }
}
.bg-panel-left-5 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-5}) 100%;
  }
}
.bg-panel-left-6 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-6}) 100%;
  }
}
.bg-panel-left-7 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-7}) 100%;
  }
}
.bg-panel-left-8 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-8}) 100%;
  }
}
.bg-panel-left-9 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-9}) 100%;
  }
}
.bg-panel-left-10 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-10}) 100%;
  }
}
.bg-panel-left-11 {
  background-position: left center;
  &:before {
    background-position: left center;
    background-size: calc(100% * #{$col-11}) 100%;
  }
}

.bg-panel-right-1 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-1}) 100%;
  }
}
.bg-panel-right-2 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-2}) 100%;
  }
}
.bg-panel-right-3 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-3}) 100%;
  }
}
.bg-panel-right-4 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-4}) 100%;
  }
}
.bg-panel-right-5 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-5}) 100%;
  }
}
.bg-panel-right-6 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-6}) 100%;
  }
}
.bg-panel-right-7 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-7}) 100%;
  }
}
.bg-panel-right-8 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-8}) 100%;
  }
}
.bg-panel-right-9 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-9}) 100%;
  }
}
.bg-panel-right-10 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-10}) 100%;
  }
}
.bg-panel-right-11 {
  background-position: right center;
  &:before {
    background-position: right center;
    background-size: calc(100% * #{$col-11}) 100%;
  }
}
