blockquote {
  border: none;
  footer:before,small:before,.small:before {
  	content: "";
  	width: 32px;
  	height: 1px;
  	margin-right: 8px;
  	background-color: $brand-info;
    display: inline-block;
    vertical-align: middle;
  }
}