// -----------------------------------------------------------------------------
// Borders
// -----------------------------------------------------------------------------
.bordered {
    border: 1px solid $gray-base;
}

.bordered-vertical {
    border-top: 1px solid $gray-base;
    border-bottom: 1px solid $gray-base;
}

.bordered-top {
    border-top: 1px solid $gray-base;
}

.bordered-bottom {
    border-bottom: 1px solid $gray-base;
}

.bordered-right {
    border-right: none;
    border-right: 1px solid $gray-base;
}

.bordered-left {
    border-left: none;
    border-left: 1px solid $gray-base;
}

.bordered-vertical-xs {
    border-top: 1px solid $gray-base;
    border-bottom: 1px solid $gray-base;

    @media (min-width: $screen-sm-min) {
      border-top: none;
      border-bottom: none;
    }
}

.bordered-top-xs {
    border-top: 1px solid $gray-base;

    @media (min-width: $screen-sm-min) {
      border-top: none;
    }
}

.bordered-bottom-xs {
    border-bottom: 1px solid $gray-base;

    @media (min-width: $screen-sm-min) {
      border-bottom: none;
    }
}

.bordered-white {
    border-color: white;
}
.bordered-light {
    border-color: $gray-light;
}
.bordered-lighter {
    border-color: $gray-lighter;
}
.bordered-gray {
    border-color: $gray;
}
.bordered-dark {
    border-color: $gray-dark;
}
.bordered-darker {
    border-color: $gray-darker;
}
.bordered-info {
  border-color: $brand-info;
}