// -------------------------------
// base button style copied from bootstrap
// -------------------------------

//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include user-select(none);
  
  @extend .h5;
  position: relative;
  transition: all .15s cubic-bezier(0,.5,1,1);
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-small, 1, $btn-border-radius-base);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    opacity: .3;
    box-shadow: none;
  }

  // [converter] extracted a& to a.btn
}
a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}














//
//
//
//
// Our overrides 
//
//
//
//


.btn {

  &:hover,
  &:focus {
    color: black;
    background-color: white;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    @include shadow-level(2);
  }

  &:active,
  &.active:active {
    background-color: $gray-lighter;
    box-shadow: inset 0 0 0 1px $gray-light;
  }

  &.active {
    color: black;
    background-color: white;
    text-align: right;
    padding-left: $padding-base-horizontal + 8;
    padding-right: $padding-base-horizontal - 8;
    &:before {
      content: "\e013";
      font-family: 'Glyphicons Halflings';
      margin-right: 4px;
      position: absolute;
      left: 20px;
      color: $gray-darker;
      font-size: .9em;
    }
  }
  &.btn-lg.active {
    padding-left: $padding-large-horizontal + 16;
    padding-right: $padding-large-horizontal - 16;
    &:before {
      left: $padding-large-horizontal - 14;
    }
  }
  &.btn-sm.active {
    padding-left: $padding-small-horizontal + 4;
    padding-right: $padding-small-horizontal - 4;
    &:before {
      left: 8px;
      font-size: .8em;
      line-height: 1.8;
    }
  }
  &.btn-xs.active {
    padding-left: $padding-xs-horizontal;
    padding-right: $padding-xs-horizontal;
    &:before {
      left: 0px;
      position: relative;
      font-size: .8em;
    }
  }

  &.btn-block.active {
    text-align: center;
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
    &:before {
      position: relative;
      left: 0;
    }
  }
  &.btn-link {
    &:hover {
      background-color: transparent;
      box-shadow: none;
    }
    &.active:hover {
      color: $link-color;
      box-shadow: none;
    }
  }

}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, 10.24px, $line-height-small, $btn-border-radius-small);
  letter-spacing: .1em;
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, 10.24px, $line-height-small, $btn-border-radius-small);
  letter-spacing: .1em;
}


.btn-default {
  // @include button-variant($color, $background, $border);
  @include button-variant(black, $brand-default, $brand-default);
}
.btn-primary {
  @include button-variant(white, $brand-primary, $brand-primary);
}
.btn-info {
  @include button-variant(black, $brand-info, $brand-info);
}
.btn-success {
  @include button-variant(white, $brand-success, $brand-success);
}
.btn-danger {
  @include button-variant(white, $brand-danger, $brand-danger);
}

// Alternate buttons
// --------------------------------------------------

.btn-hollow-default {
  @include button-variant(black, white, $brand-default);
}
.btn-hollow-primary {
  @include button-variant($brand-primary, white, $brand-primary);
}
.btn-hollow-info {
  @include button-variant($link-color, white, $brand-info);
}
.btn-hollow-success {
  @include button-variant($brand-success, white, $brand-success);
}
.btn-hollow-danger {
  @include button-variant($brand-danger, white, $brand-danger);
}

.btn-hollow-transparent-default {
  @include button-variant(black, transparent, $brand-default);
}
.btn-hollow-transparent-primary {
  @include button-variant(black, transparent, $brand-primary);
}
.btn-hollow-transparent-info {
  @include button-variant(black, transparent, $brand-info);
}
.btn-hollow-transparent-success {
  @include button-variant(black, transparent, $brand-success);
}
.btn-hollow-transparent-danger {
  @include button-variant(black, transparent, $brand-danger);
}

.btn-transparent,
.btn-transparent.active {
  background-color: transparent;
  border-color: transparent;
  color: #000;
  &:hover {
    background-color: white;
  }
}


.nav-pills .btn-warning {
  &:hover,
  &:focus  {
    background-color: $brand-warning;
  }

  &:active,
  &.active {
    background-color: darken($brand-warning, 12%);
  }
}

.btn.pull-left {
  margin-right: 1em;
}

.btn.pull-right {
  margin-left: 1em;
}

.btn-filter.active {
  .glyphicon {
    display: inline !important;
    line-height: 0;
    visibility: visible;
  }
}
