//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  white-space: nowrap;
  @extend h6;
  @include button-size($padding-base-vertical, $padding-base-horizontal, 13px, 1, $btn-border-radius-base);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:active,
  &.active {
    // @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    box-shadow: none;
  }
}

.btn-arrow,
.btn-alt {
  &:before {
    content:"";
    font-size: 18px;
    transition: all .3s ease;
    color: white;
    margin-right: 8px;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012.21%208.71%22%3E%3Cline%20stroke%3D%22%23fff%22%20y1%3D%224.31%22%20x2%3D%2211%22%20y2%3D%224.31%22/%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20points%3D%227.5%200.35%2011.5%204.35%207.5%208.35%22/%3E%3C/svg%3E) no-repeat center center;
    background-size: 12.21px 8.71px;
    width: 12.21px;
    height: 8.71px;
  }
}

.btn-default,
.btn-link {
  &:before {
    color: black;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012.21%208.71%22%3E%3Cline%20stroke%3D%22%23000%22%20y1%3D%224.31%22%20x2%3D%2211%22%20y2%3D%224.31%22/%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23000%22%20points%3D%227.5%200.35%2011.5%204.35%207.5%208.35%22/%3E%3C/svg%3E);
  }
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  &:hover {
    background-color: $gray-dark;
  }
}


.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: .3;
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal,  $font-size-small, $line-height-small, $btn-border-radius-small);
  letter-spacing: .04em;
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal,  $font-size-xsmall, $line-height-small, $btn-border-radius-small);
  letter-spacing: .04em;
}


.btn-hollow-default {
  @extend .btn-default;
  background-color: white;
  color: #000;
}
.btn-hollow-primary {
  @extend .btn-primary;
  background-color: white;
  color: #000;
}
.btn-hollow-info {
  @extend .btn-info;
  background-color: white;
  color: #000;
}
.btn-hollow-success {
  @extend .btn-success;
  background-color: white;
  color: #000;
}
.btn-hollow-danger {
  @extend .btn-danger;
  background-color: white;
  color: #000;
}

.btn-hollow-transparent-default {
  @extend .btn-default;
  background-color: transparent;
  color: #000;
}
.btn-hollow-transparent-primary {
  @extend .btn-primary;
  background-color: transparent;
  color: #000;
}
.btn-hollow-transparent-info {
  @extend .btn-info;
  background-color: transparent;
  color: #000;
}
.btn-hollow-transparent-success {
  @extend .btn-success;
  background-color: transparent;
  color: #000;
}
.btn-hollow-transparent-danger {
  @extend .btn-danger;
  background-color: transparent;
  color: #000;
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  color: #000;
  &:hover {
    background-color: white;
  }
}



// Alternate buttons style
// --------------------------------------------------
.btn.btn-alt {
  $btn-size: 40px;
  background-color: transparent !important;
  border-color: transparent !important;
  color: black;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding-left: $btn-size + 16px;
  transition: all .3s ease;
  &:before {
    position: absolute;
    left: 0;
    width: $btn-size;
    transition: all .3s ease;
  }
  &:after {
    content: "";
    width: $btn-size;
    height: $btn-size;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    transition: all .2s ease;
  }
  &:hover {
    color: white; 
    &:after {
      width: 100%;
    }
    &:before {
      transform: translate3d(8px,0,0);
    }
  }
}
.btn-alt.btn-default {
  &:after {
    background-color: $brand-default;
  }
}
.btn-alt.btn-primary {
  &:after {
    background-color: $brand-primary;
  }
}
.btn-alt.btn-info {
  &:after {
    background-color: $brand-info;
  }
}
.btn-alt.btn-success {
  &:after {
    background-color: $brand-success;
  }
}
.btn-alt.btn-danger {
  &:after {
    background-color: $brand-danger;
  }
}
.btn-alt.btn-link {
  &:hover {
    color: black;
  }
}
