//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: .04em;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, 1, $btn-border-radius-base);

  &:active,
  &.active {
    // @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    box-shadow: none;
  }

}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal,  $font-size-small, $line-height-small, $btn-border-radius-small);
  letter-spacing: .04em;
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal,  $font-size-small, $line-height-small, $btn-border-radius-small);
  letter-spacing: .04em;
}


// Alternate buttons style
// --------------------------------------------------
.btn-alt {
  $btn-size: 40px;
  background-color: transparent !important;
  border-color: transparent !important;
  color: black;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding-left: $btn-size + 16px;
  &:before {

  }
  &:before {
    content: "";
    width: $btn-size;
    height: $btn-size;
    line-height: $btn-size;
    display: inline-block;
    vertical-align: middle;
    border-radius: $btn-size;
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
    z-index: -1;
    transition: all .3s ease;
  }
  &:after {
    content:"\2192";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(1px,-3px,0);
    width: $btn-size;
    line-height: 0;
    text-align: center;
    transition: all .3s ease;
    font-size: 18px;
    color: black;
  }
  &:hover {
    &:before {
      width: 100%;
    }
    &:after {
      transform: translate3d(8px,-3px,0);
    }
  }
}
.btn-alt.btn-info {
  &:before {
    background-color: $brand-info;
  }
}

// -----------------------------------------------------------------------------
// Color Swatch Btn Filters
// -----------------------------------------------------------------------------
// color, bg, border
.btn-color-swatch-black  {@include button-variant(white, #222, #222);}
.btn-color-swatch-white  {@include button-variant(black, white, $gray-light);}
.btn-color-swatch-red    {@include button-variant(white, #c4383f, #c4383f);}
.btn-color-swatch-grey   {@include button-variant(white, #818085, #818085);}
.btn-color-swatch-purple {@include button-variant(white, #8559c8, #8559c8);}
.btn-color-swatch-pink   {@include button-variant(white, #e04ea7, #e04ea7);}
.btn-color-swatch-blue   {@include button-variant(white, #6779de, #6779de);}
.btn-color-swatch-green  {@include button-variant(white, #2bb18f, #2bb18f);}
.btn-color-swatch-yellow {@include button-variant(black, #f6eaab, #f6eaab);}
.btn-color-swatch-orange {@include button-variant(white, #f9905b, #f9905b);}
.btn-color-swatch-tan  {@include button-variant(black, #d1bea0, #d1bea0);}
