// -----------------------------------------------------------------------------
// Containers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Visual Styles
// -----------------------------------------------------------------------------
.container-bordered {
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
}

.container-bordered-top {
    border-top: 1px solid $gray-lighter;
}

.container-bordered-bottom {
    border-bottom: 1px solid $gray-lighter;
}

// shadows that make the container looked indented
@mixin indent($direction) {
    content: "";
    position: absolute;
    height: 44px;
    left: 0;
    width: 100%;
    z-index: 9000;
    background: linear-gradient(to $direction, rgba(0, 0, 0, 0.09) 0, transparent 100%); 
}

.container-indented {
    position: relative;

    &:before {
        top: 0;
        @include indent(bottom);
    }

    &:after {
        bottom: 0;
        @include indent(top);
    }
}

.container-indented-top {
    position: relative;

    &:before {
        top: 0;
        @include indent(bottom);
    }
}

.container-bottom {
    position: relative;

    &:after {
        bottom: 0;
        @include indent(top);
    }
}

.container-bg-image {
  background-size: cover;
  background-position: left top;
  position: relative;
  @media(min-width: $grid-float-breakpoint) {
    background-position: center top;
  }
}

.callout-bg-offset-left {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    background-color: $gray-lighter;
  }
}
.callout-bg-offset-right {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    background-color: $gray-lighter;
  }
}


.container.container-hero,
.container-fluid.container-hero {
    background: linear-gradient(to right, white 50%, $gray-lighter 50%);
    @media(min-width: $screen-md-min) {
        > .row {
            max-width: 2000px;
            margin-left: auto;
            margin-right: auto;
            min-height: calc(100vh - 96px);
            .container-hero-image {
                img {
                    max-height: 75vh;
                }
            }
        }
    }
}