// -----------------------------------------------------------------------------
// Counters
// -----------------------------------------------------------------------------
.data-label {
  color: $gray;
  position: absolute;
  left: -16px;
  transform: translate(-100%,0);
}
