
@font-face {
	font-family: 'DomD Reg';
	src: url($font-url+'DomDWeb-Regular.eot'); /* IE9 Compat Modes */
	src: url($font-url+'DomDWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	   url($font-url+'DomDWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
	font-family: 'icomoon-20161125';
	src:url($font-url+'icomoon-20161125.eot?byysie');
	src:url($font-url+'icomoon-20161125.eot?#iefixbyysie') format('embedded-opentype'),
		url($font-url+'icomoon-20161125.woff?byysie') format('woff'),
		url($font-url+'icomoon-20161125.ttf?byysie') format('truetype'),
		url($font-url+'icomoon-20161125.svg?byysie#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// loads roboto 400 and 700 from google font
// loaded from:

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,');
