// -----------------------------------------------------------------------------
// Glyphicon Overrides
// -----------------------------------------------------------------------------

.caret {
	transform: translate(0,-50%);
}
.glyphicon-arrow-right {
    color: transparent !important;
    background:  url($image-url + 'icons/default/glyphicon-arrow-right.svg') no-repeat center center;
}
.link-style.glyphicon-arrow-right {
    background:  url($image-url + 'icons/link-style/glyphicon-arrow-right.svg') no-repeat center center;
}

.glyphicon-arrow-left {
    color: transparent !important;
    background: url($image-url + 'icons/default/glyphicon-arrow-left.svg') no-repeat center center;
}
.link-style.glyphicon-arrow-left {
    background:  url($image-url + 'icons/link-style/glyphicon-arrow-left.svg') no-repeat center center;
}