// -----------------------------------------------------------------------------
// Modals & Popups
// -----------------------------------------------------------------------------

// .popup needs to be depricated in favor of modal
.popup {
  position: fixed;
  z-index: 2000;
  top: 10%;
  right: 10%;
  left: 10%;
  margin: auto;
  max-width: 900px;
  padding: $grid-gutter-width/2 $grid-gutter-width $grid-gutter-width;
  @include shadow-level(4);
}

.modal-content {
    border: none;
    @include shadow-level(4);
}

.modal-header,
.modal-footer {
    @extend .buffer-xs-horizontal-md;
    @extend .buffer-xs-vertical-lg;
    @extend .buffer-sm-horizontal-xl;
    @extend .buffer-sm-vertical-lg;
    background-color: $gray-lighter;
}
.modal-header {
    background-color: $gray-lighter;
}
.modal-body {
    @extend .buffer-xs-horizontal-md;
    @extend .buffer-xs-vertical-lg;
    @extend .buffer-sm-all-xl;
}

.modal-footer {
    text-align: left;
}


.modal .close {
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}