// -----------------------------------------------------------------------------
// Positioning
// -----------------------------------------------------------------------------
.static {
  position: static !important;
}

.relative-sm {
  @media (min-width: $screen-sm-min) {
    position: relative !important;
  }
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

.sticky-sm {
  @media (min-width: $screen-sm-min) {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
  }
}

.sticky-md {
  @media (min-width: $screen-md-min) {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
  }
}

.sticky-lg {
  @media (min-width: $screen-lg-min) {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
  }
}

.sticky-sm-clear {
  @media (min-width: $screen-sm-min) {
    position: static;
  }
}
.sticky-md-clear {
  @media (min-width: $screen-md-min) {
    position: static;
  }
}
.sticky-lg-clear {
  @media (min-width: $screen-lg-min) {
    position: static;
  }
}
