.readable-line {
  max-width: 40em;
}
.text-center ul,
.text-center ol {
    text-align: left;
    display: inline-block;
}
.line-clip-outer {
	overflow: hidden;
	display: block;
}
.line-clip-inner {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

// -----------------------------------------------------------------------------
// Text truncation
// -----------------------------------------------------------------------------
.text-truncate,
.text-overflow {
  text-overflow: clip;
  text-overflow: ellipsis;
  text-overflow: "…";
  -webkit-text-overflow: clip;
  -webkit-text-overflow: ellipsis;
  -webkit-text-overflow: "…";
  white-space: nowrap;
  overflow: hidden;
}