.video-wrapper {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  width: 75%;
  margin: 3em auto 0;
  z-index: 100;

  iframe {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 3em;
    iframe {
      height: 100%;
    }
  }
}

.video-cta {
  margin-top: -2.75em;
  margin-bottom: 2.5em;
  z-index: 1000;
  position: relative;

  a {
    font-family: brandon-grotesque, Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 25%;
    height: 42px;
    z-index: 1000;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: .3s;

    &:hover {
      background: #000000;
      color: #ffffff;
    }
  }

  @media (max-width: 995px) {
    margin-top: -1em;
  }

  @media (max-width: 767px) {
    height: 25px;
    margin-bottom: 2em;

    a {
      width: 100%;
    }

  }
}