---
layout: default
title: Atoms
permalink: /atoms/
---

<div class="bg-gray-darker">
<div class="container-fluid 
  buffer-xs-top-xl buffer-md-top-xxl
  buffer-xs-btm-lg buffer-md-btm-lg 
  pusher-xs-btm-xl
">
  <div class="row">
    <div class="
      col-sm-7 col-sm-offset-3
      col-lg-6 col-lg-offset-2
    ">
      <h1 class="domd pusher-xs-btm-md">Atoms</h1>

      <p>
        The Gentux Style Guide is based on <a href="http://getbootstrap.com">Bootstrap</a>. We extend its base functionality and add our own style. Here, that allows us to show a simplified and easier to digest sample of elements. If you'd like to see more documentation or examples, links to the relevant sections on the Bootstrap website are provided&nbsp;below.
      </p>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->
</div>


<div class="container-fluid">

  <div class="row">

    <div style="position:sticky;top:0;" class="
      col-sm-3
      col-md-3
      col-lg-2
    ">
        <div class="row">
          <div class="col-sm-12 pusher-xs-top-xl">
            <h6 class="h6">Module Types:</h6>
            <ul>
              {% for page in site.atoms %}
                <li class="h6"><a href="#{{ page.title }}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
            <div class="h6"><a href="#">Back to Top</a></div>

          </div><!--/col-->
        </div><!--/row-->
    </div><!-- /col -->


    <div class="
      col-sm-9
    ">

      {% for page in site.atoms %}

        <div id="{{ page.title }}" class="buffer-xs-top-xl pusher-xs-btm-xxl">
          
          <h2>{{ page.title }}</h2>

          <hr class="pusher-sm-btm-xl">

          <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
              {{ page.content }}
            </div>
          </div><!-- /row -->

        </div>

      {% endfor %}

    </div><!-- /col -->

  </div><!-- /row -->


</div><!-- /container -->