---
layout: default
title: Modules
permalink: /modules/
---

<div class="container-fluid bg-gray-lighter buffer-xs-vertical-md" style="position:sticky;top:0;z-index:100;">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">

      <ul class="list-inline pusher-xs-btm-clear">
        <li class="h6">Module Types:</li>
        <li class="h6"><a href="#section-navbar">navs</a></li>
        <li class="h6"><a href="#section-hero">heros</a></li>
        <li class="h6"><a href="#section-content">content blocks</a></li>
        <li class="h6"><a href="#section-other">other shite</a></li>
      </ul>

    </div><!--/col-->
  </div><!--/row-->
  
</div><!--/nav-page-interior-->


<div class="container-fluid">
  <div class="row buffer-xs-btm-xl">
    <div class="
        col-sm-7 col-sm-offset-3
        col-lg-6 col-lg-offset-2
    ">
      <h1 class="buffer-xs-top-xl buffer-xs-btm-md domd">Modules</h1>
      <p>
        Modules are content blocks built up of atoms.
      </p>
    </div>
  </div>
</div>



{% for page in site.modules %}



    {% if page.section-id %}
    <div id="{{ page.section-id }}" class="container-fluid buffer-xs-vertical-xl bg-info pusher-xs-btm-lg">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="domd buffer-xs-left-md">{{ page.title }}</h2>
        </div>
      </div>
    </div>
      
    </div>
    {% else %}
    <div class="container-fluid pusher-xs-btm-lg">
      <div class="row puller-xs-left-lg">
        <div class="col-sm-12">
          <h2 class="h6 "><span class="bg-info buffer-xs-md"> {{ page.title }}</span></h2>
        </div>
      </div>
    </div>

    {% endif %}


    {% if page.container-type contains "none" %}
    {% elsif page.container-type contains "fluid" %}
    <div class="container-fluid">
    {% else %}
    <div class="container">
    {% endif %}

    {% if page.container-type contains "none" %}
      {{ page.content }}
    {% else %}
      <div class="row">
        <div class="col-sm-12">
          {{ page.content }}
        </div>
      </div><!-- /row -->
    {% endif %}

    {% if page.container-type contains "none" %}
    {% else %}
    </div> <!-- /container -->
    {% endif %}


    {% if page.extras contains "none" %}
    {% else %}
    <div class="container pusher-xs-top-lg">
    <div class="row">
      <div class="col-xs-11 col-sm-9 col-sm-offset-2">
        <h3 class="context--copy uppercase">Stand Alone Module:</h3>
        <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-primary">View module on its own page</a>
      </div><!-- /col -->
    </div><!-- /row -->
    </div><!-- /container -->

    <div class="container pusher-xs-top-lg">
      <div class="row">
      <div class="col-xs-11 col-sm-9 col-sm-offset-2">
        <h3 class="context--copy uppercase">Markup:</h3>
        <div class="context--copy-to-clipboard">
          <div class="clipboard-content">
            {% highlight html %} {{ page.content }} {% endhighlight %}
          </div>
          <div class="clipboard-init btn btn-primary pusher-xs-btm-md">Copy to Clipboard</div>
        </div>
      </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    {% endif %}


{% endfor %}



<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="pusher-xs-top-xl pusher-xs-btm-xl"></div>
    </div>
  </div>
</div><!-- /.container  -->
