---
layout: default
title: Modules
permalink: /modules/
---

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="copy uppercase">Modules</h1>
    </div>
  </div>
</div>


{% for page in site.modules %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <hr class="vspace-xs-top-lg vspace-xs-btm-clear">
    </div>
  </div>
</div><!-- /.container  -->


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="copy uppercase">{{ page.title }}</h2>
    </div>
  </div>
</div>


{% if page.container-type contains "none" %}
{% elsif page.container-type contains "fluid" %}
<div class="container-fluid">
{% else %}
<div class="container">
{% endif %}

{% if page.container-type contains "none" %}
  {{ page.content }}
{% else %}
  <div class="row">
    <div class="col-sm-12">
      {{ page.content }}
    </div>
  </div><!-- /row -->
{% endif %}

{% if page.container-type contains "none" %}
{% else %}
</div> <!-- /container -->
{% endif %}


<div class="container">
  <hr class="vspace-xs-top-lg vspace-xs-btm-lg">
  <h3 class="copy uppercase">Markup:</h3>
  <div class="copy-to-clipboard">
    <div class="clipboard-content">
      {% highlight html %} {{ page.content }} {% endhighlight %}
    </div>
    <div class="clipboard-init btn btn-primary vspace-xs-btm-md">Copy to Clipboard</div>
  </div>

  </pre>
</div><!-- /container -->


{% endfor %}



<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="vspace-xs-top-xl vspace-xs-btm-xl"></div>
    </div>
  </div>
</div><!-- /.container  -->

