// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.active,
  .open > &.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: $border;
    box-shadow: none;

    &:hover,
    &:focus {
      color: black;
      border-color: $border;
      background-color: white;
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      @include shadow-level(2);
    }
  }

  &:active {
    &:hover {
      background-color: $gray-lighter;
      box-shadow: inset 0 0 0 1px $gray-light;
    }
  }
  
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      background-color: $background;
          border-color: $border;
                 color: $color;
            box-shadow: none;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}