// this needs to be reeeeeeefactored!!
// but I'm lazy so I'll do it later

@mixin make-vertical-spaces($browserSize:"sm") {
    @if $browserSize == "xs" {
        // create top classes
        .vspace-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
        .vspace-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
        .vspace-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
        .vspace-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
        .vspace-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

        .vspace-#{$browserSize}-top-clear { margin-top: 0; }
        .copy.vspace-#{$browserSize}-top-clear { margin-top: 0; }

        // create bottom classes
        .vspace-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
        .vspace-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
        .vspace-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
        .vspace-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
        .vspace-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

        .vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
        .copy.vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
    }
    @if $browserSize == "sm" {
        @media(min-width:$screen-sm-min){
            // create top classes
            .vspace-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .vspace-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .vspace-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .vspace-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .vspace-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .vspace-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.vspace-#{$browserSize}-top-clear { margin-top: 0; }


            // create bottom classes
            .vspace-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .vspace-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .vspace-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .vspace-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .vspace-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
    @if $browserSize == "md" {
        @media(min-width:$screen-md-min){
            // create top classes
            .vspace-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .vspace-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .vspace-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .vspace-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .vspace-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .vspace-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.vspace-#{$browserSize}-top-clear { margin-top: 0; }

            // create bottom classes
            .vspace-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .vspace-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .vspace-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .vspace-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .vspace-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
    @if $browserSize == "lg" {
        @media(min-width:$screen-lg-min){
            // create top classes
            .vspace-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .vspace-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .vspace-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .vspace-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .vspace-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .vspace-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.vspace-#{$browserSize}-top-clear { margin-top: 0; }

            // create bottom classes
            .vspace-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .vspace-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .vspace-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .vspace-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .vspace-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
}


@mixin make-vertical-pusher($browserSize:"sm") {
    @if $browserSize == "xs" {
        // create top classes
        .pusher-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
        .pusher-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
        .pusher-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
        .pusher-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
        .pusher-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

        .pusher-#{$browserSize}-top-clear { margin-top: 0; }
        .copy.pusher-#{$browserSize}-top-clear { margin-top: 0; }

        // create bottom classes
        .pusher-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
        .pusher-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
        .pusher-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
        .pusher-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
        .pusher-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

        .pusher-#{$browserSize}-btm-clear { margin-bottom: 0; }
        .copy.pusher-#{$browserSize}-btm-clear { margin-bottom: 0; }
    }
    @if $browserSize == "sm" {
        @media(min-width:$screen-sm-min){
            // create top classes
            .pusher-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .pusher-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .pusher-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .pusher-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .pusher-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .pusher-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.pusher-#{$browserSize}-top-clear { margin-top: 0; }


            // create bottom classes
            .pusher-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .pusher-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .pusher-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .pusher-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .pusher-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .pusher-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.pusher-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
    @if $browserSize == "md" {
        @media(min-width:$screen-md-min){
            // create top classes
            .pusher-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .pusher-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .pusher-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .pusher-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .pusher-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .pusher-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.pusher-#{$browserSize}-top-clear { margin-top: 0; }

            // create bottom classes
            .pusher-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .pusher-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .pusher-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .pusher-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .pusher-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .pusher-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.pusher-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
    @if $browserSize == "lg" {
        @media(min-width:$screen-lg-min){
            // create top classes
            .pusher-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .pusher-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .pusher-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .pusher-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .pusher-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .pusher-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.pusher-#{$browserSize}-top-clear { margin-top: 0; }

            // create bottom classes
            .pusher-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .pusher-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .pusher-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .pusher-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .pusher-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .pusher-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.pusher-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
}



@mixin make-vertical-buffer($browserSize:"sm") {
    @if $browserSize == "xs" {
        // create top classes
        .buffer-#{$browserSize}-top-xs { padding-top: $type-spacing-xs; }
        .buffer-#{$browserSize}-top-sm { padding-top: $type-spacing-sm; }
        .buffer-#{$browserSize}-top-md { padding-top: $type-spacing-md; }
        .buffer-#{$browserSize}-top-lg { padding-top: $type-spacing-lg; }
        .buffer-#{$browserSize}-top-xl { padding-top: $type-spacing-xl; }

        .buffer-#{$browserSize}-top-clear { padding-top: 0; }
        .copy.buffer-#{$browserSize}-top-clear { padding-top: 0; }

        // create bottom classes
        .buffer-#{$browserSize}-btm-xs { padding-bottom: $type-spacing-xs; }
        .buffer-#{$browserSize}-btm-sm { padding-bottom: $type-spacing-sm; }
        .buffer-#{$browserSize}-btm-md { padding-bottom: $type-spacing-md; }
        .buffer-#{$browserSize}-btm-lg { padding-bottom: $type-spacing-lg; }
        .buffer-#{$browserSize}-btm-xl { padding-bottom: $type-spacing-xl; }

        .buffer-#{$browserSize}-btm-clear { padding-bottom: 0; }
        .copy.buffer-#{$browserSize}-btm-clear { padding-bottom: 0; }
    }
    @if $browserSize == "sm" {
        @media(min-width:$screen-sm-min){
            // create top classes
            .buffer-#{$browserSize}-top-xs { padding-top: $type-spacing-xs; }
            .buffer-#{$browserSize}-top-sm { padding-top: $type-spacing-sm; }
            .buffer-#{$browserSize}-top-md { padding-top: $type-spacing-md; }
            .buffer-#{$browserSize}-top-lg { padding-top: $type-spacing-lg; }
            .buffer-#{$browserSize}-top-xl { padding-top: $type-spacing-xl; }

            .buffer-#{$browserSize}-top-clear { padding-top: 0; }
            .copy.buffer-#{$browserSize}-top-clear { padding-top: 0; }


            // create bottom classes
            .buffer-#{$browserSize}-btm-xs { padding-bottom: $type-spacing-xs; }
            .buffer-#{$browserSize}-btm-sm { padding-bottom: $type-spacing-sm; }
            .buffer-#{$browserSize}-btm-md { padding-bottom: $type-spacing-md; }
            .buffer-#{$browserSize}-btm-lg { padding-bottom: $type-spacing-lg; }
            .buffer-#{$browserSize}-btm-xl { padding-bottom: $type-spacing-xl; }

            .buffer-#{$browserSize}-btm-clear { padding-bottom: 0; }
            .copy.buffer-#{$browserSize}-btm-clear { padding-bottom: 0; }
        }
    }
    @if $browserSize == "md" {
        @media(min-width:$screen-md-min){
            // create top classes
            .buffer-#{$browserSize}-top-xs { padding-top: $type-spacing-xs; }
            .buffer-#{$browserSize}-top-sm { padding-top: $type-spacing-sm; }
            .buffer-#{$browserSize}-top-md { padding-top: $type-spacing-md; }
            .buffer-#{$browserSize}-top-lg { padding-top: $type-spacing-lg; }
            .buffer-#{$browserSize}-top-xl { padding-top: $type-spacing-xl; }

            .buffer-#{$browserSize}-top-clear { padding-top: 0; }
            .copy.buffer-#{$browserSize}-top-clear { padding-top: 0; }

            // create bottom classes
            .buffer-#{$browserSize}-btm-xs { padding-bottom: $type-spacing-xs; }
            .buffer-#{$browserSize}-btm-sm { padding-bottom: $type-spacing-sm; }
            .buffer-#{$browserSize}-btm-md { padding-bottom: $type-spacing-md; }
            .buffer-#{$browserSize}-btm-lg { padding-bottom: $type-spacing-lg; }
            .buffer-#{$browserSize}-btm-xl { padding-bottom: $type-spacing-xl; }

            .buffer-#{$browserSize}-btm-clear { padding-bottom: 0; }
            .copy.buffer-#{$browserSize}-btm-clear { padding-bottom: 0; }
        }
    }
    @if $browserSize == "lg" {
        @media(min-width:$screen-lg-min){
            // create top classes
            .buffer-#{$browserSize}-top-xs { padding-top: $type-spacing-xs; }
            .buffer-#{$browserSize}-top-sm { padding-top: $type-spacing-sm; }
            .buffer-#{$browserSize}-top-md { padding-top: $type-spacing-md; }
            .buffer-#{$browserSize}-top-lg { padding-top: $type-spacing-lg; }
            .buffer-#{$browserSize}-top-xl { padding-top: $type-spacing-xl; }

            .buffer-#{$browserSize}-top-clear { padding-top: 0; }
            .copy.buffer-#{$browserSize}-top-clear { padding-top: 0; }

            // create bottom classes
            .buffer-#{$browserSize}-btm-xs { padding-bottom: $type-spacing-xs; }
            .buffer-#{$browserSize}-btm-sm { padding-bottom: $type-spacing-sm; }
            .buffer-#{$browserSize}-btm-md { padding-bottom: $type-spacing-md; }
            .buffer-#{$browserSize}-btm-lg { padding-bottom: $type-spacing-lg; }
            .buffer-#{$browserSize}-btm-xl { padding-bottom: $type-spacing-xl; }

            .buffer-#{$browserSize}-btm-clear { padding-bottom: 0; }
            .copy.buffer-#{$browserSize}-btm-clear { padding-bottom: 0; }
        }
    }
}
