// this needs to be reeeeeeefactored!!
// but I'm lazy so I'll do it later

@mixin make-vertical-spaces($browserSize:"sm") {
    @if $browserSize == "xs" {
        // create top classes
        .vspace-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
        .vspace-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
        .vspace-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
        .vspace-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
        .vspace-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

        .vspace-#{$browserSize}-top-clear { margin-top: 0; }
        .copy.vspace-#{$browserSize}-top-clear { margin-top: 0; }

        // create bottom classes
        .vspace-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
        .vspace-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
        .vspace-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
        .vspace-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
        .vspace-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

        .vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
        .copy.vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
    }
    @if $browserSize == "sm" {
        @media(min-width:$screen-sm-min){
            // create top classes
            .vspace-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .vspace-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .vspace-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .vspace-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .vspace-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .vspace-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.vspace-#{$browserSize}-top-clear { margin-top: 0; }


            // create bottom classes
            .vspace-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .vspace-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .vspace-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .vspace-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .vspace-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
    @if $browserSize == "md" {
        @media(min-width:$screen-md-min){
            // create top classes
            .vspace-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .vspace-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .vspace-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .vspace-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .vspace-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .vspace-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.vspace-#{$browserSize}-top-clear { margin-top: 0; }

            // create bottom classes
            .vspace-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .vspace-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .vspace-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .vspace-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .vspace-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
    @if $browserSize == "lg" {
        @media(min-width:$screen-lg-min){
            // create top classes
            .vspace-#{$browserSize}-top-xs { margin-top: $type-spacing-xs; }
            .vspace-#{$browserSize}-top-sm { margin-top: $type-spacing-sm; }
            .vspace-#{$browserSize}-top-md { margin-top: $type-spacing-md; }
            .vspace-#{$browserSize}-top-lg { margin-top: $type-spacing-lg; }
            .vspace-#{$browserSize}-top-xl { margin-top: $type-spacing-xl; }

            .vspace-#{$browserSize}-top-clear { margin-top: 0; }
            .copy.vspace-#{$browserSize}-top-clear { margin-top: 0; }

            // create bottom classes
            .vspace-#{$browserSize}-btm-xs { margin-bottom: $type-spacing-xs; }
            .vspace-#{$browserSize}-btm-sm { margin-bottom: $type-spacing-sm; }
            .vspace-#{$browserSize}-btm-md { margin-bottom: $type-spacing-md; }
            .vspace-#{$browserSize}-btm-lg { margin-bottom: $type-spacing-lg; }
            .vspace-#{$browserSize}-btm-xl { margin-bottom: $type-spacing-xl; }

            .vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
            .copy.vspace-#{$browserSize}-btm-clear { margin-bottom: 0; }
        }
    }
}
