<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <script src="https://use.typekit.net/aka3rls.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Separate out our custom version of bootstrap -->
    <!-- 
    <link rel="stylesheet" href="{{ "/css/bootstrap-custom.css" | prepend: site.baseurl }}">  
    <link rel="stylesheet" href="{{ "/css/theme.css" | prepend: site.baseurl }}">
     -->
     
    <link rel="stylesheet" href="{{ "/css/all.css" | prepend: site.baseurl }}">

</head>