<nav class="navbar navbar-default navbar-main navbar-with-columns">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-inverted" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="visible-xs navbar-brand" href="{{ site.baseurl }}/">
            <img class="navbar-brand-logo-gt" src="/images/styleguide-required/gt-logo.svg" alt="Generation Tux Logo">
          </a>
        </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-inverted">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <a class="hidden-xs navbar-brand navbar-brand-gt" href="{{ site.baseurl }}/">
            <img class="navbar-brand-logo-gt" src="/images/styleguide-required/gt-logo.svg" alt="Generation Tux Logo">
            <img class="navbar-brand-logo-full" src="/images/styleguide-required/generationtux-logo.svg" alt="Generation Tux Logo">
          </a>
        </div><!-- /col -->

        <div class="col-sm-9 col-md-7 col-lg-8">
          <ul class="nav navbar-nav">
            <li class="h6 {% if page.url == '/brand-guidelines/' %}active{% endif %}">
              <a href="{{ site.baseurl }}/brand-guidelines/">Guide</a>
            </li>
            <li class="h6 {% if page.url == '/brand-assets/' %}active{% endif %}">
              <a href="{{ site.baseurl }}/brand-assets/">Assets</a>
            </li>
            <li class="dropdown">
              <a
                class="dropdown-toggle h6"
                data-toggle="dropdown"
                href="#!"
              >
                Developers <em class="caret"></em>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li class="h6 {% if page.url == '/dev-intro/' %}active{% endif %}">
                  <a href="{{ site.baseurl }}/dev-intro/">Intro</a>
                </li>
                <li class="h6 {% if page.url == '/atoms/' %}active{% endif %}">
                  <a href="{{ site.baseurl }}/atoms/">Atoms</a>
                </li>
                <li class="h6 uppercase {% if page.url == '/modules/' %}active{% endif %}">
                  <a href="{{ site.baseurl }}/modules/">Modules</a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




