.breadcrumb {
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid $gray;
  padding-left: 0;
  padding-right: 0;
  a {
    color: black;
  }
  .active {
    color: $gray-darker;
  }
  > li + li:before {
    color: $gray-darker;
  }
}