.btn {
  @extend .h6;
  line-height: 1;
}
.btn-lg {
  font-size: 16px;
}
.btn-sm {
  font-size: 10.24px;
}
.btn-xs {
  font-size: 10.24px;
}

// new style for hollow buttons
.btn-hollow-default {
  @include btn-styles(white, $brand-default);
}
.btn-hollow-primary {
  @include btn-styles(white, $brand-primary);
}
.btn-hollow-success {
  @include btn-styles(white, $brand-success);
}
.btn-hollow-info    {
  @include btn-styles(white, $brand-info);
}
.btn-hollow-warning {
  @include btn-styles(white, $brand-warning);
}
.btn-hollow-danger  {
  @include btn-styles(white, $brand-danger);
}
.btn-hollow-inverse {
  @include btn-styles(white, white);
}

// style for hollow buttons
.btn-hollow-transparent-default { @include btn-styles(transparent, $brand-default); }
.btn-hollow-transparent-primary { @include btn-styles(transparent, $brand-primary); }
.btn-hollow-transparent-success { @include btn-styles(transparent, $brand-success); }
.btn-hollow-transparent-info    { @include btn-styles(transparent, $brand-info); }
.btn-hollow-transparent-warning { @include btn-styles(transparent, $brand-warning); }
.btn-hollow-transparent-danger  { @include btn-styles(transparent, $brand-danger); }
.btn-hollow-transparent-inverse { @include btn-styles(transparent, white);  }

// gets same typography as buttons with no border, padding or other decoration
.btn-naked {
  color: $brand-default;
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover,&:active,&:focus {
    box-shadow: none;
    text-decoration: underline;
    color: $gray-darker;
  }
}

// Apply the mixin to the buttons
.btn-white { @include btn-styles(white, white); }
.btn-default { @include btn-styles($brand-default, $brand-default); }
.btn-primary { @include btn-styles($brand-primary, $brand-primary); }
.btn-success { @include btn-styles($brand-success, $brand-success); }
.btn-info    { @include btn-styles($brand-info, $brand-info); }
.btn-warning { @include btn-styles($brand-warning, $brand-warning); }
.btn-danger  { @include btn-styles($brand-danger, $brand-danger); }

.nav-pills .btn-warning {
  &:hover,
  &:focus  {
    background-color: $brand-warning;
  }

  &:active,
  &.active {
    background-color: darken($brand-warning, 12%);
  }
}

.btn.pull-left {
  margin-right: 1em;
}

.btn.pull-right {
  margin-left: 1em;
}

