
.container {
  // background: #fff;
}
.bg-placeholder {
  $placeholder-bg: #e6e6e6;
  background-color: $placeholder-bg;
  background-image: linear-gradient(transparentize($placeholder-bg,.1), transparentize($placeholder-bg,.1)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-378/placeholder-no-bg.svg);
  background-position: center center !important;
  background-repeat: no-repeat;
}
// for adding full bleed background image to container
// add background-image style inline so it can be easily controlled through a cms
.container-bg-image {
  background-size: cover;
  background-position: left top;
  position: relative;
  @media(min-width: $grid-float-breakpoint) {
    background-position: center top;
  }
}
.container-callout {
  position: relative; 
}
.callout-caption-center {
  @media(min-width: $grid-float-breakpoint) {
    position: absolute;
    top: 50%;
    @include transform(translate(0,-50%));
  } 
}
.callout-caption-top {
  @media(min-width: $grid-float-breakpoint) {
    position: absolute;
    top: 10%;
    // @include transform(translate(0,-50%));
  } 
}

.callout-bg-offset-left {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    background-color: $brand-gray-lighter;
  }
}
.callout-bg-offset-right {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    background-color: $brand-gray-lighter;
  }
}