.promo-banner {
  background-color: $gray-lighter;
}
.navbar-toggle {
	.icon-bar {
		width: 16px;
		border-radius: 0;
	}
}
.navbar {
	h1,h2,h3,h4,h5,h6,
	.h1,.h2,.h3,.h4,.h5,.h6 {
		line-height: 16px !important;
	}
	.glyphicon {
		line-height: 0;
	}
	@media(min-width: $grid-float-breakpoint) {
		.main-nav-items {
			& > li > a {
				position: relative;
				&:after {
					content: "";
					height: 1px;
					position: absolute;
					bottom: -1px; // to offset the navbar border
					left: 16px;
					right: 16px;
					// opacity: .2;
					@include transform( scaleX(0) );
					@include transition( all .2s ease );
					@include transform-origin(left center);
				}
				&:hover {
					&:after {
						@include transform( scaleX(1) );
						opacity: 1;
					}
				}
			}
			.active {
				a {
					&:after {
						@include transform( scaleX(1) );
					}
				}
			}
		}
	}
}
.main-nav-items {
	@media (min-width: $screen-sm-min) {
		margin-top: -40px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 0px;
	}
}
.navbar-default {
	@media(min-width: $grid-float-breakpoint) {
		.main-nav-items {
			& > li > a {
				&:after {
					background-color: $gray-base;
				}
				&:active,&:focus {
					color: $brand-info;
				}
			}
			.active a {
				&:hover:after {
					background-color: $gray;
				}
			}
		}
	}
}
.navbar-inverse {
	@media(min-width: $grid-float-breakpoint) {
		.main-nav-items {
			& > li > a {
				&:after {
					background-color: $gray-lighter;
					height: 3px;
					bottom: -1px;
					z-index: 10;
				}
			}
		}
	}
}

.navbar-sub {
	// border-top: 1px solid $gray-light;
	border: none;
	min-height: auto;
	background-color: $gray-lighter;
	.navbar-nav {
		li a {
			&:after {
				display: none;
			}
		}
		.active {
			a {
				color: $brand-info;
			}
		}
	}
	.navbar-collapse {
		border-top-color: $gray-light;
	}
	@media (min-width: $screen-sm-min){
		li a {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}
}