.btn {
  white-space: normal;
}

// new style for hollow buttons
.btn-hollow-default { 
  // button-variant is a bootstrap mixin. takes color, background, border as variables
  @include button-variant($gray-light, transparent, $gray-light); 
  // btn-styles is a theme specific mixin. takes background, border color as variables
  @include btn-styles(transparent, $gray-light);
}
.btn-hollow-primary { 
  @include button-variant($brand-primary, transparent, $brand-primary); 
  @include btn-styles(transparent, $brand-primary);
}
.btn-hollow-success { 
  @include button-variant($brand-success, transparent, $brand-success); 
  @include btn-styles(transparent, $brand-success);
}
.btn-hollow-info    { 
  @include button-variant($brand-info, transparent, $brand-info); 
  @include btn-styles(transparent, $brand-info);
}
.btn-hollow-warning { 
  @include button-variant($brand-warning, transparent, $brand-warning); 
  @include btn-styles(transparent, $brand-warning);
}
.btn-hollow-danger  { 
  @include button-variant($brand-danger, transparent, $brand-danger); 
  @include btn-styles(transparent, $brand-danger);
}
.btn-hollow-inverse {
  @include button-variant(white, transparent, white); 
  @include btn-styles(transparent, white); 
}

// gets same typography as buttons with no border, padding or other decoration
.btn-naked {
  border: none;
  padding: 0;
  &:hover,&:active,&:focus {
    box-shadow: none;
    text-decoration: underline;
  }
}

// Apply the mixin to the buttons
.btn-default { @include btn-styles(white); }
.btn-primary { @include btn-styles($brand-primary, $brand-primary); }
.btn-success { @include btn-styles($brand-success, $brand-success); }
.btn-info    { @include btn-styles($brand-info, $brand-info); }
.btn-warning { @include btn-styles($brand-warning, $brand-warning); }
.btn-danger  { @include btn-styles($brand-danger, $brand-danger); }

.nav-pills .btn-warning {
  &:hover,
  &:focus  {
    background-color: $brand-warning;
  }
  &:active,
  &.active {
    background-color: darken($brand-warning, 12%);
  }
}
