.navbar-toggle {
	.icon-bar {
		width: 16px;
		border-radius: 0;
	}
}
.navbar {
	border: none;
	h1,h2,h3,h4,h5,h6,
	.h1,.h2,.h3,.h4,.h5,.h6 {
		line-height: 16px !important;
	}
	.glyphicon {
		line-height: 0;
	}
	@media(min-width: $grid-float-breakpoint) {
		.navbar-nav {
			& > li > a {
				position: relative;
				padding-left: 8px;
				padding-right: 8px;
				&:after {
					content: "";
					height: 1px;
					position: absolute;
					bottom: 0;
					left: 16px;
					right: 16px;
					// opacity: .2;
					@include transform( scaleX(0) );
					@include transition( all .2s ease );
					@include transform-origin(left center);
				}
				&:hover {
					&:after {
						@include transform( scaleX(1) );
						opacity: 1;
					}
				}
			}
			.active {
				a {
					&:after {
						@include transform( scaleX(1) );
					}
				}
			}
		}
	}
	@media(min-width: $screen-lg-min) {
		.navbar-nav {
			& > li > a {
				padding-left: 24px;
				padding-right: 24px;
			}
		}
	}
}
.navbar-default {
	@media(min-width: $grid-float-breakpoint) {
		.navbar-nav {
			& > li > a {
				&:after {
					background-color: $gray-base;
				}
				&:active,&:focus {
					background-color: $brand-gray-lighter;
				}
			}
			.active {
				a:hover:after {
					background-color: $brand-gray;
				}
			}
			.active a {
				&:active,&:focus {
					background-color: $brand-gray-lighter;
				}
			}
		}
	}
}
.navbar-inverse {
	@media(min-width: $grid-float-breakpoint) {
		.navbar-nav {
			& > li > a {
				&:after {
					background-color: white;
					opacity: .7;
				}
			}
		}
	}
}

.navbar-subnav {
	border-top: 1px solid $brand-gray;
	min-height: auto;
	background-color: $brand-gray-lighter;
	.navbar-nav {
		li a {
			padding-top: 16px;
			padding-bottom: 16px;
			&:after {
				display: none;
			}
		}
		.active {
			a {
				background-color: transparent;
				color: $brand-info;
				&:hover, &:active, &:focus {
					background-color: transparent;
				}
			}
		}
	}
	.navbar-collapse {
		border-top-color: $brand-gray-light;
	}
}