$brand-teal:#03bbac;
$brand-teal-darker:#039aa8;
$brand-teal-lighter:#03e6ca;
$brand-red:#d74c4e;
$brand-black:#000000;
$brand-gray-darker:#404042;
$brand-gray-dark:#888888;
$brand-gray:#cccccc;
$brand-gray-light:#e6e6e6;
$brand-gray-lighter:#f3f3f3;
$brand-white:#ffffff;