// Theme variables
$type-spacing-xs: $font-size-base/4;
$type-spacing-sm: $font-size-base/2;
$type-spacing-md: $font-size-base;
$type-spacing-lg: $font-size-base * 2;
$type-spacing-xl: $font-size-base * 4;
$container-buffer-size: $type-spacing-xl;