// set asset path for proper font and image loading
// this is the relative path from the css to the images and font folders
// examples:
// styleguide: "../"
// ecomm: "../../"

$asset-url: "../";

$font-url:  $asset-url + "fonts/";
$image-url: $asset-url + "images/";


@import "bootstrap-custom";
@import "theme";
