// -----------------------------------------------------------------------------
// Define our own variables
// -----------------------------------------------------------------------------
@import "components/variables-theme";

// -----------------------------------------------------------------------------
// Load bootstrap helpers. 
//    This is not full bootstrap, just the little bits we're referencing in our own scss
//    Lets us use bootstap specific mixins and variables in our own theme files
// -----------------------------------------------------------------------------
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/buttons";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "components/bootstrap-resets";

// -----------------------------------------------------------------------------
// Bourbon
// -----------------------------------------------------------------------------
@import "../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

// -----------------------------------------------------------------------------
// Theme - our own custom styles
// -----------------------------------------------------------------------------
$type-spacing-xs: $font-size-base/4;
$type-spacing-sm: $font-size-base/2;
$type-spacing: $font-size-base;
$type-spacing-lg: $font-size-base * 2;
$type-spacing-xl: $font-size-base * 4;
$container-buffer-size: $type-spacing-xl;

// grab our mixins

// grab our components where we override and/or extend bootstrap
@import "components/theme-typography";
@import "components/theme-containers";

// -----------------------------------------------------------------------------
// More style stuff. 
//    Write loose styles here. Break code out into components 
//    when it becomes structured enough.
// -----------------------------------------------------------------------------

.styleguide-label {
  opacity: .2;
  @media(min-width: $grid-float-breakpoint) {
  	position: absolute;
	  left: 0;
	  @include transform(rotate(-90deg) translate(-100%,0%) );
	  @include transform-origin(left top);	
  }
}